
<header>
  <h1>Harper Street Cafe</h1>
  <h3>Today's Orders</h3>
</header>

<section id="sec1">
<h3>Orders to be Made: </h3>

<form class="active">
<ol>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="order-status" data-id="{{id}}" data-newstat="{{devoured}}">
          Completed
        </button>
        <button class="delete-order" data-id="{{id}}">Cancelled</button>
      </li>
    {{/unless}}
  {{/each}}
</ol>
</form>
</section>

<section id="sec2">
<h3>Orders Completed for the Day: </h3>

<form class="active">
<ol>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
        <button class="order-status" data-id="{{id}}" data-newstat="{{devoured}}">
          Remake
        </button>
      </li>
    {{/if}}
  {{/each}}
</ol>
</form>

</section>

<section id="sec3">
<h3>Add New Order</h3>
<form class="create-form">

  <div class="form-group">
    <span><label for="neworder">Order:</label>
    <input type="text" id="neworder" name="burger_name" >
    <button type="submit" class="submit">Add New Order</button>
  </div>

  
</form>
</section>
